[submodule "subPraccy"]
	path = subPraccy
	url = http://github.com/AlesandroMarques/subPraccy.git
[submodule "newSubPreccy"]
	path = newSubPreccy
	url = git://github.com/AlesandroMarques/subPraccy.git
